# Binaries
homenet
*.exe
*.dll
*.so
*.dylib

# Runtime Data (Do not commit these)
config.json
devices.json
devices.json.tmp
homenet.log

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp